.topnavbar{
    background-color: #4484CE;
    overflow: hidden;
}
.topnavbar a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
    text-decoration: none;
}
.topnavbar a:hover{
    background-color: #295282;
    color: #ddd;
}